$nav-background: #222;
$menu-item: #AAA;
$white: #FFF;
$black: #000;
$grey-555: #555;
$grey-666: #666;
$grey-999: #999;
$grey-ddd: #DDD;
$grey-aaa: #AAA;
$grey-e-5: #E5E5E5;
$grey-f-0: #F0F0F0;
$grey-f-6: #F6F6F6;
$text-blue: #2F80ED;
$highlight-white-background: #F6F8FA;
$success: #509900;
$transparent: rgba(255,255,255, 0);

$green: #509900;
$orange: #DB9000;
$purple: #7B61FF;
$red: #CD3A4C;
$dot: #D2D5DB;

$alert-red-bright: #CD3A4C;
$lightest-red: #FDF7F8;