@import "../../assets/styles/colors";
@import "../../assets/styles/mixin";

.dropdown--wrapper {
  position: absolute;
  top: 100%;
  right: 0;
  width: toRem(200);
  background: #ffffff;
  border: 1px solid $greyDDD;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: none;
  z-index: 2;
  padding: toRem(8);
  flex-direction: column;
  row-gap: toRem(4);
  cursor: pointer;
  .dropdown__item {
    border-radius: 8px;
    display: flex;
    align-items: center;
    &.selected,
    &:hover {
      background: $greyf6;
    }
  }
  &.open {
    display: flex;
  }
}
.dropdown--backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
