@import "../../assets/styles/colors";
@import "../../assets/styles/mixin";

.badge--wrapper {
  height: toRem(24);
  background: $greyf6;
  border-radius: toRem(40);
  padding: toRem(2) toRem(12);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: toRem(14);
  color: $grey999;
}
