.badge--wrapper {
  height: 24px;
  background: #f6f6f6;
  border-radius: 40px;
  padding: 2px 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  color: #999999;
}
