@import "../../../assets/styles/colors";
@import "../../../assets/styles/mixin";

.settings--wrapper {
  display: inline-flex;
  align-items: center;
  color: $lightBlue;
  cursor: pointer;
  & > svg {
    width: toRem(14);
    height: toRem(14);
    path {
      fill: $lightBlue;
    }
  }
  .settings__text {
    margin-left: 6px;
    font-weight: 600;
    font-size: toRem(14);
    line-height: toRem(24);
  }
  &.cloning,
  &.standing,
  &.updating,
  &.pending {
    color: $greyAAA;
    cursor: not-allowed;
    svg {
      path {
        fill: $greyAAA;
      }
    }
  }
}
