@import "../../../assets/styles/colors";
@import "../../../assets/styles/mixin";

.status__wrapper {
  display: inline-flex;
  align-items: center;
  & > svg {
    width: toRem(14);
    height: toRem(14);
  }
  .status__text {
    margin-left: toRem(6);
    font-weight: 600;
    font-size: toRem(14);
    line-height: toRem(24);
  }
  &.running {
    color: $greenDark;
    svg {
      path {
        fill: $greenDark;
      }
    }
  }
  &.cloning {
    color: $cornFlowerBlue;
    svg {
      path {
        fill: $cornFlowerBlue;
      }
    }
  }
  &.updating,
  &.standing,
  &.pending {
    color: $tangerine;
    svg {
      path {
        fill: $tangerine;
      }
    }
  }
  &.failed {
    color: $darkRed;
    svg {
      path {
        fill: $darkRed;
      }
    }
  }
  &.killed,
  &.stopped {
    color: $greyAAA;
    svg {
      path {
        fill: $greyAAA;
      }
    }
  }
}
