@import "../../assets/styles/mixin";

.vertical-tab--wrapper {
  display: flex;
  flex-direction: column;
  padding: toRem(12);
  align-self: stretch;
  .tab__heading {
    display: flex;
    padding: toRem(6) toRem(20) toRem(6) toRem(8);
    align-items: center;
    column-gap: toRem(12);
    font-weight: 600;
    font-size: toRem(16);
    line-height: toRem(24);
  }
  .tab__list {
    display: flex;
    flex-direction: column;
    margin-top: toRem(10);
    row-gap: toRem(4);
  }
}
