@import "../../../assets/styles/colors";
@import "../../../assets/styles/mixin";

.bottom--wrapper {
  display: flex;
  align-items: center;
  column-gap: toRem(12);
  .bottom__item {
    display: flex;
    align-items: center;
    column-gap: toRem(8);
    font-weight: 600;
    font-size: toRem(14);
    line-height: toRem(24);
    color: $tangerine;
    svg {
      width: toRem(14);
      height: toRem(14);
      path {
        fill: $tangerine;
      }
    }
  }
}
