@import '@/styles/_variables.scss';

.userMenuItem {
  display: flex;
  gap: 8px;
  flex-direction: row;
  padding: 6px 16px;
  letter-spacing: -0.2px;
  cursor: pointer;
}

.userIcon {
  width: 32px;
  fill: $menu-item;
}

.arrowIcon {
  width: 12px;
  fill: $menu-item;
}