@import '@/styles/_variables.scss';

.userMenuItem {
  display: flex;
  gap: 0.8rem;
  flex-direction: row;
  padding: 0.6rem 1.6rem;
  letter-spacing: -0.02rem;
  cursor: pointer;
}

.userIcon {
  width: 3.2rem;
  fill: $menu-item;
}

.arrowIcon {
  width: 1.2rem;
  fill: $menu-item;
}