$primary-text-color: #000000;
$secondary-text-color: #AAAAAA;
$tertiary-text-color: #999999;

$text-color-1: #666666;
$active-text-color: #2F80ED;
$golden-text-color: #DB9000;

$primary-light-bg: #F6F8FA;
$secondary-light-bg: #F6F6F6;
$primary-dark-bg: #000000;

$primary-border-color: #DDDDDD;
$secondary-border-color: #E5E5E5;
