@import "../../assets/styles/colors";
@import "../../assets/styles/mixin";

.testnet--header--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: toRem(20);

  .header__left-section {
    display: flex;
    align-items: center;
    column-gap: toRem(20);
    h1 {
      font-weight: 700;
      font-size: toRem(24);
      line-height: toRem(28);
    }
    .testnet__add-btn {
      font-weight: 600;
      font-size: toRem(16);
      line-height: toRem(28);
      color: $lightBlue;
      background: none;
      border: none;
      outline: 0;
      display: flex;
      align-items: center;
      column-gap: toRem(8);
      cursor: pointer;
      svg {
        width: toRem(14);
        height: toRem(14);
        path {
          fill: $lightBlue;
        }
      }
    }
  }
  .header__right-section {
    display: flex;
    column-gap: toRem(20);
    align-items: center;
  }
}
