.filter-item--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  column-gap: 6px;
  padding: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #555555;
  .filter-icon {
    display: flex;
    svg {
      width: 14px;
      height: 14px;
    }
  }
}
