@import "../../assets/styles/colors";
@import "../../assets/styles/mixin";

.sorter--wrapper {
  display: flex;
  align-items: center;
  position: relative;
  .sorter__label {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: toRem(14);
    line-height: toRem(24);
    color: $grey999;
    cursor: pointer;
    .selected__sorter {
      display: flex;
      align-items: center;
      column-gap: toRem(6);
      margin-left: toRem(8);
      color: $grey555;
      font-weight: 600;
      font-size: toRem(14);
      line-height: toRem(24);
      .label__arrow {
        width: toRem(8);
      }
    }
  }
}
