@import "../../assets/styles/colors";
@import "../../assets/styles/mixin";

.pages--wrapper {
  background: $aquaHaze;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - toRem(66));
  padding: toRem(40) toRem(60) toRem(40) toRem(360);
}
