@import "../../assets/styles/colors";
@import "../../assets/styles/mixin";

.filter--wrapper {
  display: flex;
  align-items: center;
  position: relative;
  .filter__label {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: toRem(14);
    line-height: toRem(24);
    color: $grey999;
    cursor: pointer;
    .selected__filter {
      display: flex;
      align-items: center;
      column-gap: toRem(6);
      margin-left: toRem(8);
      .selected__filter--icon {
        width: toRem(14);
        height: toRem(14);
      }
      .label__arrow {
        width: toRem(8);
      }
    }
  }
  &.all {
    .filter__label {
      .selected__filter {
        color: $lightBlue;
        .selected__filter--icon {
          path {
            fill: $lightBlue;
          }
        }
      }
    }
  }
  &.running {
    .filter__label {
      .selected__filter {
        color: $greenDark;
        .selected__filter--icon {
          path {
            fill: $greenDark;
          }
        }
      }
    }
  }
  &.standing,
  &.updating,
  &.pending {
    .filter__label {
      .selected__filter {
        color: $tangerine;
        .selected__filter--icon {
          path {
            fill: $tangerine;
          }
        }
      }
    }
  }
  &.failed {
    .filter__label {
      .selected__filter {
        color: $darkRed;
        .selected__filter--icon {
          path {
            fill: $darkRed;
          }
        }
      }
    }
  }
  &.killed,
  &.stopped {
    .filter__label {
      .selected__filter {
        color: $greyAAA;
        .selected__filter--icon {
          path {
            fill: $greyAAA;
          }
        }
      }
    }
  }
  &.cloning {
    .filter__label {
      .selected__filter {
        color: $cornFlowerBlue;
        .selected__filter--icon {
          path {
            fill: $cornFlowerBlue;
          }
        }
      }
    }
  }
}
