@import "../../assets/styles/colors";

.filter--wrapper {
  display: flex;
  align-items: center;
  position: relative;
  .filter__label {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    cursor: pointer;
    .selected__filter {
      display: flex;
      align-items: center;
      column-gap: 6px;
      margin-left: 8px;
      .selected__filter--icon {
        width: 14px;
        height: 14px;
      }
      .label__arrow {
        width: 8px;
      }
    }
  }
  &.all {
    .filter__label {
      .selected__filter {
        color: $lightBlue;
        .selected__filter--icon {
          path {
            fill: $lightBlue;
          }
        }
      }
    }
  }
  &.running {
    .filter__label {
      .selected__filter {
        color: $greenDark;
        .selected__filter--icon {
          path {
            fill: $greenDark;
          }
        }
      }
    }
  }
  &.standing,
  &.updating {
    .filter__label {
      .selected__filter {
        color: $tangerine;
        .selected__filter--icon {
          path {
            fill: $tangerine;
          }
        }
      }
    }
  }
  &.failed {
    .filter__label {
      .selected__filter {
        color: $darkRed;
        .selected__filter--icon {
          path {
            fill: $darkRed;
          }
        }
      }
    }
  }
  &.killed {
    .filter__label {
      .selected__filter {
        color: $greyAAA;
        .selected__filter--icon {
          path {
            fill: $greyAAA;
          }
        }
      }
    }
  }
  &.cloning {
    .filter__label {
      .selected__filter {
        color: $cornFlowerBlue;
        .selected__filter--icon {
          path {
            fill: $cornFlowerBlue;
          }
        }
      }
    }
  }
}
