@import "../../assets/styles/colors";
@import "../../assets/styles/mixin";

.card--wrapper {
  display: flex;
  flex-direction: column;
  padding: toRem(24) toRem(32);
  background: #ffffff;
  border: 1px solid $greye5;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  row-gap: toRem(10);
  margin-bottom: toRem(24);
  .card--top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .card--left-section {
    display: flex;
    row-gap: toRem(12);
    flex-direction: column;
    .card--left-top-section {
      display: flex;
      column-gap: toRem(16);
      align-items: center;
      .card__heading {
        font-size: toRem(20);
        font-weight: 700;
      }
    }
    .card--left-bottom-section {
      display: flex;
      align-items: center;
      .card__description-list {
        display: flex;
        align-items: center;
        column-gap: toRem(12);
        font-size: toRem(14);
        font-weight: 500;
        line-height: toRem(24);
      }
      .card__description-icons {
        display: flex;
        align-items: center;
        margin-left: toRem(18);
        .chain__icon {
          display: inline-flex;
          width: toRem(28);
          height: toRem(28);
          align-items: center;
          border: 1px solid $greyDDD;
          border-radius: 8px;
          justify-content: center;
          margin-left: toRem(-6);
          background-color: #ffffff;
          img {
            width: toRem(16);
            object-fit: contain;
          }
        }
      }
    }
  }
  .card--right-section {
    display: flex;
    flex-direction: column;
    row-gap: toRem(14);
    align-items: flex-end;

    .card--right-top-section {
      display: flex;
      align-items: center;
      column-gap: toRem(16);
      font-weight: 600;
      font-size: toRem(14);
      line-height: toRem(24);
    }
    .card--right-bottom-section {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: toRem(13);
      line-height: toRem(24);
    }
  }
  .card--bottom-section {
    display: flex;
    flex: 1;
  }
  &.failed {
    background: $lightRed;
    border-color: $darkRed;
    .badge--wrapper {
      background-color: #ffffff;
    }
  }
  &.killed,
  &.stopped {
    background: $aquaHaze;
    border-color: $greyDDD;
    .card__heading {
      color: $grey666;
    }
    .badge--wrapper {
      border: 1px solid $greyDDD;
      background-color: $aquaHaze;
    }
    .card--left-section {
      .card--left-bottom-section {
        .card__description-list {
          color: $grey666;
        }
        .card__description-icons {
          .chain__icon {
            background-color: $aquaHaze;
          }
        }
      }
    }
  }
}
