@import "../../styles/variables";

.sidebar_item {
    width: 100%;
    display: flex;
    height: 40px;
    border-radius: 8px;
    position: relative;
    align-items: center;
    margin: 4px 0;

    &:hover {
        background-color: $color-ghost-white;
        cursor: pointer;

        .sidebar_item__count {
            background-color: $color-white;
        }
    }

    &__icon {
        height: 16px;
        width: 16px;
        margin: 6px 6px 6px 20px;
    }

    &__name {
        margin: 8px;
        font-size: $font-size-regular;
    }

    &__count {
        margin: 4px;
        border-radius: 10px;
        background-color: $color-white-smoke;
        border: 1px solid $color-gray-lightest;
        border-radius: 40px;
        padding: 4px 8px;
        height: 15px;
        font-size: $font-size-small;
        line-height: 1.4;
    }

    &__takeAction {
        height: 16px;
        width: 16px;
        position: absolute;
        right: 14px;
        top: 12px;
    }

    &--selected {
        background-color: $color-ghost-white;

        .sidebar_item__count {
            background-color: $color-white;
        }

        .sidebar_item__name {
            font-weight: bold;
            color: $color-blue;
        }
    }
}
