@import '@/styles/_variables.scss';

.badgeList {
  display: flex;
}

.badge{
  background-color: $white;
  padding: 0.6rem;
  border: 0.1rem solid $grey-ddd;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: -0.5rem;

  &:first-of-type {
    margin-left: 0;
  }
}

.logo {
  width: 1.6rem;
  height: 1.6rem;
}