@import '@/styles/_variables.scss';

.mainMenuItem {
  display: flex;
  gap: 0.8rem;
  flex-direction: row;
  padding: 0.8rem 1.6rem;
  font-size: 1.4rem;
  color: $menu-item;
  font-weight: 500;
  letter-spacing: -0.02rem;
  text-decoration:  none;
}

.icon {
  width: 1.4rem;
  fill: $menu-item;
}