@import "../../assets/styles/colors";
@import "../../assets/styles/mixin";

.header--wrapper {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: toRem(16) toRem(20);
  background: $grey222;
  color: $greyAAA;
  justify-content: space-between;
  z-index: 1;
  .header--left-section {
    display: flex;
    align-items: center;
    .header__logo {
      margin-right: toRem(40);
    }
    .header__left-text {
      display: flex;
      align-items: center;
      column-gap: toRem(36);
      .header-left__icon {
        display: flex;
        align-items: center;
        color: $greyAAA;
        column-gap: toRem(8);
        svg {
          width: toRem(14);
          height: toRem(14);
          path {
            fill: $greyAAA;
          }
        }
        .icon__text {
          font-weight: 500;
          font-size: toRem(14);
          line-height: toRem(24);
        }
      }
    }
  }
  .header--right-section {
    display: flex;
    align-items: center;
    .header-right__icon {
      display: flex;
      align-items: center;
      color: $greyAAA;
      column-gap: toRem(8);
      svg {
        width: toRem(14);
        height: toRem(14);
        path {
          fill: $greyAAA;
        }
      }
      .icon__text {
        font-weight: 500;
        font-size: toRem(14);
        line-height: toRem(24);
      }
    }
    .header-right__profile {
      margin-left: toRem(48);
      display: flex;
      align-items: center;
      column-gap: toRem(8);
      .header-right__profile-icon {
        width: toRem(32);
        height: toRem(32);
        border: 1px solid $grey333;
        border-radius: 50%;
        background-color: $greyAAA;
      }
    }
  }
}
