@import '@/styles/_variables.scss';

.testnetsContainer {
  padding: 4rem 6rem;
  background-color: $highlight-white-background;
  overflow-y: auto;
}

.headerSection {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 2rem;

  .title {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: $black;
  }
}

.leftAuto {
  margin-left: auto;
}