@import "../../assets/styles/colors";
@import "../../assets/styles/mixin";

.sidebar--wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  border: 1px solid $greyDDD;
  width: toRem(300);
  position: fixed;
  height: 100%;
  top: toRem(66);
  .sidebar--navigation {
    width: 100%;
    padding: toRem(8) toRem(12) toRem(8) toRem(20);
    border-bottom: 1px solid $greyDDD;
    display: flex;
    box-sizing: border-box;
    column-gap: toRem(12);
    align-items: center;
    .navigation__icon {
      display: inline-block;
    }
    .navigation__text {
      font-weight: 600;
      font-size: toRem(14);
      line-height: toRem(24);
      color: $grey999;
    }
  }
}
