@import "styles/reset";
@import "styles/variables";
@import "styles/layout";


.App__error {
  background-color: $color-orange;
  color: $color-white;
  padding: 8px;
  margin: auto;
  text-align: center;
}
