@import "../../styles/variables";

.sidebar {
    &__header {
        font-weight: 600;
        display: inline-block;
        font-size: 16px;
        line-height: 24px;
        padding: 8px 0;
        margin-left: 8px;
    }

    &__project {
        display: flex;
        align-items: center;

    }

    &__project_icon {
        height: 16px;
        width: 16px;
    }

    &__navigation {
        font-size: 14px;
        color: $color-gray;
        font-weight: bold;
        border-bottom: 1px solid $color-border;
        padding: 12px;
    }

    &__list {
        padding: 12px;

        // to make sure route links follow the design
        & .sidebar__route_link {
            text-decoration: none;
        }
    }

    &__navigation_link {
        color: $color-gray;
        text-decoration: none;
    }
}
