$lightBlue: #2f80ed;
$grey999: #999999;
$greyf6: #f6f6f6;
$greyAAA: #aaaaaa;
$greyDDD: #dddddd;
$grey555: #555555;
$grey666: #666666;
$grey222: #222222;
$grey333: #333333;
$greye5: #e5e5e5;
$greenDark: #509900;
$cornFlowerBlue: #7b61ff;
$tangerine: #db9000;
$darkRed: #cd3a4c;
$lightRed: #fdf7f8;
$aquaHaze: #f6f8fa;
